@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  background-color: #9bc1bc;
  text-align: center;
  font-family: "Source Sans Pro";
}

.guideTitle {
  position: relative;
  text-align: center;
  background-color: #ca907e;
  color: #1e152a;
  padding: 20px;
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 2.2em;
  border-radius: 5px;
}

.guideContainer {
  position: absolute;
  width: 750px;
  height: 1120px;
  color: #fcfcee;
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 80px;
  box-sizing: border-box;
  text-align: left;
  top: 90px;
  left: 0px;
  right: 0px;
  margin: auto;
  margin-bottom: 10px;
  background-color: #335c67;
}

.description {
  font-family: "Source Sans Pro";
  font-weight: 100;
}

.guideBox {
  border-style: double;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 20px;
}

.guideStuff {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Source Sans Pro";
}

.questionSpace {
  display: flex;
  justify-content: center;
}

.guideBtn {
  display: inline-block;
  min-width: 50px;
  height: 30px;
  margin: 8px 0px 0px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #ca907e;
  color: white;
  padding-top: 3px;
}

.guideBtn:hover {
  color: #312244;
  background-color: #9bc1bc;
  cursor: pointer;
}

.intPics {
  height: 60px;
  width: 130px;
  padding: 0 10px 5px 10px;
  border-radius: 8% 8% 10% 10%;
}

.chordPics {
  height: 60px;
  width: 160px;
  padding: 0 10px 5px 10px;
  border-radius: 7% 7% 10% 10%;
}

.scalePics {
  height: 80px;
  width: 260px;
  padding: 0 7px 7px 7px;
  border-radius: 4% 4% 10% 10%;
}
