body {
  background-color: #9bc1bc;
  text-align: center;
}

#tit {
  text-align: center;
}

.guideContainer {
  margin-top: 100px;
  display: inline-block;
  font-family: Calibri;
  width: 750px;
  height: 1375px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 60px 100px 60px 100px;
  background-color: white;
  text-align: left;
}

.guideBox {
  border-style: double;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 30px;
}

.guideStuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questionSpace {
  display: flex;
  justify-content: center;
}

.guideBtn {
  display: inline-block;
  min-width: 50px;
  height: 30px;
  margin: 20px 0px 0px 10px;
  border-radius: 6px;
  outline: none;
}

.guideBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.guideBtn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -1px;
  transition: 0.3s;
}

.guideBtn:hover span {
  padding-right: 10px;
}

.guideBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.intPics {
  height: 100px;
  width: 100px;
}

.chordPics {
  height: 80px;
  width: 200px;
}

.scalePics {
  height: 150px;
  width: 800px;
}
