@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.container {
  position: relative;
  width: 750px;
  height: 815px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  top: 30px;
  left: 0px;
  right: 0px;
  margin: auto;
  margin-bottom: 10px;
  font-family: Arial;
  background-color: #312244;
}

.result {
  position: relative;
  width: 750px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  top: 120px;
  bottom: 20px;
  left: 0px;
  right: 0px;
}

.title {
  position: relative;
  text-align: center;
  background-color: #ca907e;
  color: #1e152a;
  padding: 20px;
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 2.2em;
  border-radius: 5px;
}

.question {
  font-family: Arial;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 4px 10px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
  background-color: #9bc1bc;
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: #335c67;
  display: inline-block;
  margin: 10px;
  width: 125px;
  outline: none;
  border: none;
  font-family: Arial;
  font-size: 1em;
  color: #fcfcee;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.score-board {
  position: relative;
}

.score {
  font-family: Arial;
  font-size: 2em;
  margin-top: 90px;
  text-align: center;
}

.replayBtn {
  position: absolute;
  font-family: Arial;
  font-size: 1.4em;
  padding: 10px;
  top: 130px;
  background-color: #2e4a62;
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.questionSpace {
  display: flex;
}

.audioBtn {
  padding-top: 3px;
  display: inline-block;
  margin-left: 4px;
  border-radius: 6px;
  min-width: 50px;
  border: none;
  background-color: #ca907e;
  outline: none;
}

.audioBtn:hover {
  color: #312244;
  background-color: #9bc1bc;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #2e4a62;
  color: #fcfcee;
  border-radius: 5px;
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
